section.login {
  margin-top: 15%;
  text-align: center;
}

section.login > div.card {
  padding: 20px !important;
  min-width: 350px;
}

section.login label {
  font-size: 14px;
  color: #606060;
}

section.login img {
  margin: 0 auto;
}
