.App-header {
  background-color: #343a40 !important;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 24px;
}
